* {
    background-color: lightblue
}

#id1 {
    background-color: red
}
 
#id2 {
    background-color: lightseagreen

}


#id3{
    background-color: lightpink
}

.cl3 {
    background-color: lightgrey
}

